* {
  box-sizing: border-box;
}

.container-fluid {
  margin-top: -40px;
  background-image: linear-gradient(
    to bottom,
    #111ce9,
    #0028d6,
    #002ec2,
    #0032ad,
    #003398,
    #04318a,
    #092e7d,
    #0e2b6f,
    #0d2566,
    #0c1f5d,
    #0a1954,
    #08134b
  );
}

h5 .form-text,
label, .subscribe-h5 {
  color: white;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.video-trailer {
  width: 650px;
}

.card {
  text-align: center;
  width: 900px;
  margin: auto;
  margin-top: 45px;
}

.video-trailer {
  margin-top: 80px;
}

.carousel-inner {
  width: 600px;
}

.carousel-item .active > img {
  display: inherit;
}

.video-form {
  padding: 20px 50px;
}

.carousel {
  margin: 17px 23px;
}

.trending-title {
  margin-left: 186px;
}

span {
  color: #000066;
  font-weight: bold;
  font-size: 18px;
}

.js-code-element {
  max-width: 600px;
  margin: auto;
}

.button .button-footer {
  cursor: pointer;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  border-radius: 0.375rem;
  padding: 6px;
}

button:hover {
  background-color: #0a58ca;
}

.navbar {
  background-color: white;
}

.first-container {
  padding-top: 50px;
}
